pandas 
numpy
matplotlib 
seaborn 
scikit-learn 
mlflow
statsmodels
geopy
pyyaml
xgboost
fastapi
streamlit
python-dotenv
openpyxl
psycopg2-binary
lightgbm
redis
uvicorn[standard]
prometheus-fastapi-instrumentator
prometheus-client
